# Regression 2 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
cal = pd.read_csv('cal_housing_clean.csv')

In [3]:
cal.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [4]:
cal.describe()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,28.639486,2635.763081,537.898014,1425.476744,499.539680,3.870671,206855.816909
std,12.585558,2181.615252,421.247906,1132.462122,382.329753,1.899822,115395.615874
min,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,18.000000,1447.750000,295.000000,787.000000,280.000000,2.563400,119600.000000
50%,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
X_train, X_test, y_train, y_test = train_test_split(cal.drop('medianHouseValue',axis=1)
                                                    ,cal['medianHouseValue'],
                                                   random_state = 101, test_size=0.3)

In [6]:
X_train.shape,X_test.shape

((14448, 6), (6192, 6))

In [7]:
y_train.shape,y_test.shape

((14448,), (6192,))

### Scale the Feature Data

**Use sklearn preprocessing to create a MinMaxScaler for the feature data.**

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scale=MinMaxScaler()

**Fit this scaler only to the training data.**

In [10]:
scale.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

**Use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [11]:
X_train = pd.DataFrame(scale.transform(X_train),columns=X_train.columns,index=X_train.index)

In [12]:
X_test = pd.DataFrame(scale.transform(X_test),columns=X_test.columns,index=X_test.index)

In [13]:
X_train.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
6761,0.352941,0.069688,0.117163,0.048769,0.115442,0.142508
3010,0.607843,0.011242,0.015673,0.008367,0.014142,0.045027
7812,0.666667,0.025230,0.031347,0.020971,0.030258,0.212866
8480,0.666667,0.032530,0.033830,0.024752,0.030094,0.298651
1051,0.294118,0.031919,0.035692,0.019466,0.034863,0.272631

In [14]:
X_test.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
16086,0.686275,0.046264,0.045158,0.025873,0.048841,0.353133
8816,0.705882,0.027417,0.020795,0.012709,0.023187,0.770182
7175,0.901961,0.032326,0.040813,0.041662,0.042592,0.133626
16714,0.313725,0.043212,0.046089,0.032840,0.048018,0.263576
14491,0.411765,0.088433,0.069367,0.043728,0.072192,0.660046

### Creating Feature Columns

**Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns.**

In [15]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
housingMedianAge    20640 non-null float64
totalRooms          20640 non-null float64
totalBedrooms       20640 non-null float64
population          20640 non-null float64
households          20640 non-null float64
medianIncome        20640 non-null float64
medianHouseValue    20640 non-null float64
dtypes: float64(7)
memory usage: 1.1 MB

In [16]:
age = tf.feature_column.numeric_column('housingMedianAge')
rooms = tf.feature_column.numeric_column('totalRooms')
bedrooms = tf.feature_column.numeric_column('totalBedrooms')
households = tf.feature_column.numeric_column('households')
population = tf.feature_column.numeric_column('population')
income = tf.feature_column.numeric_column('medianIncome')

In [17]:
feat_cols = [age,rooms,bedrooms,population,households,income]

**Creating the input function for the estimator object. (we can play around with batch_size and num_epochs)**

In [18]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train,
                                                 batch_size=128,
                                                 num_epochs=2000,
                                                shuffle=True)

**Create the estimator model. Using DNNRegressor.**

In [19]:
model = tf.estimator.DNNRegressor(hidden_units=[8,8,8],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpw4exwxfs
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpw4exwxfs', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f09b8880668>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

#### Train the model for 1,000 steps.

In [20]:
model.train(input_fn=input_func,steps = 1000)

WARNING:tensorflow:From /home/gopesh/.local/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /home/gopesh/.local/lib/python3.6/site-packages/tensorflow/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /home/gopesh/.local/lib/python3.6/site-packages/tensorflow/python/training/monitored_session.py:804: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpw4exwxfs/model.ckpt.
INFO:tensorflow:loss = 6781690400000.0, step = 1
INFO:tensorflow:global_step/sec: 293.82
INFO:tensorflow:loss = 6401286000000.0, step = 101 (0.343 sec)
INFO:tensorflow:global_step/sec: 409.184
INFO:tensorflow:loss = 6965898000000.0, step = 201 (0.244 sec)
INFO:tensorflow:global_step/sec: 384.903
INFO:tensorflow:loss = 6096231000000.0, step = 301 (0.259 sec)
INFO:tensorflow:global_step/sec: 386.595
INFO:tensorflow:loss = 6974740600000.0, step = 401 (0.259 sec)
INFO:tensorflow:global_step/sec: 398.44
INFO:tensorflow:loss = 4047473500000.0, step = 501 (0.251 sec)
INFO:tensorflow:global_step/sec: 389.945
INFO:tensorflow:loss = 3299311400000.0, step = 601 (0.256 sec)
INFO:tensorflow:global_step/sec: 322.428
INFO:tensorflow:loss = 2444773300000.0, step = 701 (0.312 sec)
INFO:tensorflow:global_step/sec: 405.74
INFO:tensorflow:loss = 2448948700000.0, step = 801 (0.246 sec)
INFO:tensorflow:global_step/sec: 399.179
INFO:tensorflow:loss = 2402535900000.0, step = 901 (0.250 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpw4exwxfs/model.ckpt.
INFO:tensorflow:Loss for final step: 2132678100000.0.

**Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data.**

In [24]:
testing_func = tf.estimator.inputs.pandas_input_fn(x=X_test,
                                                 batch_size=len(X_test),
                                                 num_epochs=1,
                                                shuffle=False)

In [26]:
predictions = list(model.predict(testing_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpw4exwxfs/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

**Calculate the RMSE. (remember that this is in the same units as the label.)**

In [27]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['predictions'])

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
rmse = mean_squared_error(y_test,final_preds)**0.5

In [30]:
rmse

118342.4868730954